<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kresnaapps">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_kresna"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_kresna_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KresnaApps">
        <activity
            android:name=".ui.SoalGambarJawabanGambarActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.SoalTextJawabanTextActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.SoalGambarJawabanTextActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.AboutAppActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity android:name=".ui.dialogbox.DialogBox" />
        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.FunFactActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.SelectDifficultyActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
    </application>

</manifest>